* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #222;
  }
  
  h1 {
    font-size: 3em;
  }
  
  section {
    padding: 20px;
  }
  
  #imageContainer {
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
